body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{

    font-size: 50px;
    
}
.orange-color{
    color:orange;
}

section{
    display:flex
}
.half-width{
    width: 50%;
    padding-left: 1%;
}

.link-button{
    text-decoration:none;background-color: orange;
    padding: 10px 20px;
}

.top-banner{

background: url(images/top-banner.png);
background-repeat: no-repeat;

}
.full{
    display: flex;
    background-image: url(imges/exp-bg.png);

}
.part-two{
    display: flex;
    width: 50%;
}
.logo-two {
background: url(images/dream-bg.png);
background-repeat: no-repeat;
}

.last-step{
    box-shadow: 10px 20px 30px yellowgreen;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    border-left: 7px solid green;
}